.header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.headerList {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
}
